/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Body styling */
body {
  background-color: #f3f3f3;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Container */
.container, .admin-container {
  min-width: 90%;
  max-width: 800px;
  min-width: 800px;
  min-height: 300px;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Header */
h1 {
  font-size: 24px;
  color: #0078d4;
  text-align: center;
  margin-bottom: 16px;
}

/* Buttons */
button {
  background-color: #0078d4;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #005a9e;
}

/* Navigation links */
nav {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin: 16px 0;
}

nav a {
  text-decoration: none;
  color: #0078d4;
  font-weight: 600;
}

nav a:hover {
  text-decoration: underline;
}

/* Form inputs */
input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 8px;
  margin-bottom: 16px;
  font-size: 16px;
}

input:focus, textarea:focus {
  border-color: #0078d4;
  outline: none;
  box-shadow: 0px 0px 4px rgba(0, 120, 212, 0.5);
}

.input-label {
  margin-top: 8px;
  margin-bottom: 16px;
  margin-right: 8px;
  font-size: 16px;
  min-width: 80px;
}

/* Dropdown styling */
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.3s, box-shadow 0.3s;
  margin-top: 8px;
  margin-bottom: 16px;
}

select:hover {
  border-color: #0078d4;
}

select:focus {
  border-color: #0078d4;
  outline: none;
  box-shadow: 0px 0px 4px rgba(0, 120, 212, 0.5);
}

/* Option styling */
option {
  font-size: 16px;
}


/* Footer */
footer {
  margin-top: 20px;
  font-size: 14px;
  color: #555;
  text-align: center;
}

/* Admin Styles */

.admin-container h1 {
  color: #e11111;
}

.admin-container button {
  background-color: #e11111;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.admin-container button:hover {
  background-color: #9e0800;
}

.admin-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 1000;
}

.filter-modal, .edit-modal, .add-modal {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  background: white;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  min-width: 500px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

.pagination {
  margin: 10px 10px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.pagination-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-cell {
  padding: 0px 6px 0px;
  width: 60px;
  min-width: 60px;
  max-width: 60px;
}

.action-cell button {
  padding: 6px 12px;
}

.panel-buttons {
  display: flex;
  justify-content: left;
  gap: 8px;
  margin-bottom: 5px;
}

.container > p {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  color: #555;
}

.not-found, .forbidden {
  text-align: center;
  background: #ffcf90;
}

label {
  display: flex;
  align-items: center;
  gap: 6px;
}

label input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

label input[type="checkbox"]:focus {
  outline: none;
  box-shadow: 0px 0px 4px rgba(0, 120, 212, 0.5);
}

label input[type="checkbox"]:checked {
  background-color: #0078d4;
  border-color: #0078d4;
}

label input[type="checkbox"]:disabled {
  background-color: #ccc;
  border-color: #ccc;
  cursor: not-allowed;
}

button[type="submit"] {
  background-color: #28a745;
  cursor: pointer;
  transition: background-color 0.2s;
}

button[type="submit"]:hover {
  background-color: #218838;
}

button.delete-button {
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
}

button.delete-button:hover {
  background-color: #000;
}

.input-warning {
  color: #e11111;
  font-size: 14px;
  margin-top: 1px;
  margin-bottom: 4px;
}